<nav class="primary-nav" role="navigation" aria-label="Primary">
  <div class="nav-inner">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/photography/' | relative_url }}">Photography</a></li>
      <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/writing/' | relative_url }}">Writing</a></li>
      <li><a href="{{ '/about/' | relative_url }}">About</a></li>
    </ul>
  </div>
</nav>
